@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Stick+No+Bills:wght@300&display=swap');

:root{
    --primary-color: #01b982;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Stick No Bills', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1.2rem;
    letter-spacing: 0.08rem;

}

h1{
    color: var(--primary-color);
}

small{
    color: #768170;
    font-size: 0.8rem;
}

small span{
    color: var(--primary-color);
    font-weight: bold;
}

p{
    margin-top: 0.5rem;
    text-align: center;
    color: #768170;
}

#swap{
    cursor: pointer;
    position: relative;
    left: 1rem;
}

.currency{
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select{
    padding: 0.8em 1.6em 0.8em 0.8em;
    cursor: pointer;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: 'Stick No Bills', sans-serif;
}

.currency input{
    border: 0;
    background: transparent;
    text-align: right;
    padding: 0.6em 0.4em 0.6em 0.8em;
    border-radius: 0.2em;
    font-size: 1.3em;
    font-family: 'Stick No Bills', sans-serif;
}

input:in-range{
    border: 2px solid green;
}

input:out-of-range{
    border: 2px solid red;
}

.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    color: var(--primary-color);
    font-size: 1em;
    padding: 0 0 0.8em;
}

select:focus, input:focus{
    outline: 0;
}

@media(max-width: 700px){
    body{
        width: 100%;
        height: 100vh
    }

    .currency input{
        padding-right: 0.4em;
    }


}